<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - caingangue</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Caingangue</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://i.imgur.com/VehWTOD.png" alt="">

          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2><hr>
            <p>Os Kaingang viviam nas chapadas de uma vasta região, que, atualmente, localiza-se no sul e sudoeste de São Paulo, Paraná, Santa Catarina e parte de Misiones na Argentina (D'Angelis 1999). Eram dos campos antigamente, mas eram forçados mudar para os matos na cabeceiras do rios Iguaçu e Uruguai no central do que é atualmente o estado do Paraná. Os índios desta região, chamada Guaíra pelos Portugueses, primeiramente conheceram os brancos pelas missões jesuítas, vindo do Paraguai, no século XVII. Montaram aldeias às margens dos rios que descem para rio Paraná no oeste, como o rio Iguaçu.
            O início do século XX assistiu à demarcação de boa parte das terras indígenas dos caingangues. Isso não impediu, no entanto, que elas rapidamente começassem a ser cobiçadas, invadidas, dilapidadas e griladas. O oeste do estado de São Paulo, com o avanço do cultivo do café, foi alvo da penetração da Estrada de Ferro Noroeste do Brasil na primeira década do século XX, quando o recém-criado Serviço de Proteção ao Índio foi responsável pela chamada "pacificação" dos caingangues. Ainda nos anos 1920, o Serviço de Proteção ao Índio mantinha, no norte paranaense, um "posto de atração" para os caingangues ditos "arredios". No Paraná, o primeiro conflito aconteceu já nos anos 1920, obrigando a uma mudança em delimitações originalmente feitas pelo estado e também criando uma demanda judicial que terminou desfavorável aos índios no caso das terras que possuíam em São Jerônimo.

            Ao centro, índio caingangue realizando manifestação na sede do Ministério da Saúde, em Brasília, junto com índios de outras etnias
            No final dos anos 1940, o governador Moisés Lupion, em acordo com burocratas do Serviço de Proteção ao Índio, roubou diversas áreas indígenas.Em Santa Catarina, os maiores esbulhos deram-se também nos anos 1940. Não por acaso, no Paraná e em Santa Catarina estiveram envolvidas terras ricas em pinheirais, no imediato pós-Segunda Guerra Mundial - o que gerou um surto madeireiro e, igualmente, um surto de expansão agrícola. No Rio Grande do Sul, o próprio estado começou a tomar terras antes demarcadas aos índios, já nos anos 1940, mas principalmente nos anos 1960.
            Essa história de esbulho é acompanhada pela ocupação, também, de toda a cercania das terras indígenas por imigrantes e descendentes de imigrantes, pequenos proprietários e fazendeiros. A presença cada vez mais maciça de brancos nas proximidades de suas terras e - a partir das invasões e de arrendamentos promovidos pelo Serviço de Proteção ao Índio - dentro das próprias áreas foi fator importante de compulsão contra a permanência de tradições e práticas culturais indígenas, incluída a língua, além de casamentos interétnicos.
            No caso específico do estado de São Paulo, além da depopulação violenta, verdadeiramente genocida, sofrida pelos caingangues (de algo em torno de 1 200 na primeira década do século, eram menos de duzentos, já "aldeados" pelo governo, antes do final da década seguinte), a partir dos anos 1940 suas áreas sofreram a introdução de indivíduos e famílias das mais diferentes etnias, por conta da política do Serviço de Proteção ao Índio de fazer, naquelas áreas indígenas, algo como "colônias penais". Índios do nordeste, do leste, do Mato Grosso do Sul e do norte do Brasil eram para lá levados e, lá, contraíam casamento. O resultado das uniões interétnicas foram famílias em que se usava sempre o português como língua franca e em que os filhos se tornavam falantes nativos dessa língua.

            </p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_historia %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}


          <h2 class="mt-4">Lingua</h2><hr>
            <p>A linguagem caingangue é classificada como um membro da família linguística jê, a maior família linguística do tronco linguístico macro-jê. O tradicional território caingangue é ocupado atualmente pelos estados de São Paulo, Paraná, Santa Catarina e Rio Grande do Sul, no Brasil. Hoje, eles vivem em aproximadamente trinta aldeias, principalmente no Paraná e no Rio Grande do Sul.</p>
          
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_lingua %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}




            
          <h2 class="mt-4">Cultura</h2><hr>
            <p>Cada aldeia caingangue se divide em duas metades chamadas kaiurukré e kamé (ou, usando a escrita da própria língua: Kanhru e Kamẽ). Os membros de cada metade só podem se casar com os membros da outra metade. Os filhos (de ambos os sexos) sempre pertencerão à metade (ou à marca) do pai.</p>

            <p >Os Caingangues fabricam tecidos, cabaças, cerâmicas, e arco e flechas cujos corpos são enfeitados com desenhos que refletem sua cosmologia dualista e a metades sociais. Usam seus instrumentos nas festas dos mortos como buzinas de chifre, flauta de taquara, maracás e apitos e também os instrumentos importados dos brancos como violão e acordeão (Tommasino e Fernandes 2001).</p>
            
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_cultura %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}


          <h2 class="mt-4">Religião</h2><hr>
            <p>Ocupando região tão ampla, em incontáveis grupos ou aldeias de população média em torno de 150 a duzentas pessoas (se são válidos os dados que temos para meados do século XIX), embora às vezes articulados por uma lideranças regionais, os caingangues seriam alvo de diferentes momentos de expansão das fronteiras econômicas brasileiras. Alguns grupos caingangues e xoclengues teriam sido convertidos por missões jesuítas no oeste do Paraná e no norte rio-grandense nas primeiras décadas do século XVII, mas não por muito tempo. Depois desse período, apenas no final do século XVIII foram atingidos por frentes de exploração militar, na região de Guarapuava, no atual estado brasileiro do Paraná, onde, em 1812, se iniciaram os primeiros contatos permanentes de um grupo caingangue com uma comunidade de língua portuguesa.</p>
          
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_religiao %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}


          
          <h2 class="mt-4">Localização e População</h2><hr>
            <p>Atualmente, os caingangues ocupam cerca de 300 áreas reduzidas, distribuídas sobre seu antigo território, nos estados de São Paulo, Paraná, Santa Catarina e Rio Grande do Sul, no Brasil. Sua população é de aproximadamente 34 mil pessoas.[4] Os caingangues estão entre os cinco povos indígenas mais numerosos no Brasil atualmente. 
            Os caingangues ocuparam, historicamente, um vastíssimo território, não completamente contíguo, mais ou menos correspondendo à expansão maior das florestas de pinheirais, o que significa: vastas regiões do Paraná e Santa Catarina, a região do sul-sudoeste paulista, o planalto rio-grandense e parte de Misiones, na Argentina. Seus parentes próximos, os xoclengues, parecem ter preferido os campos entremeados dos pinheirais, mas também ocuparam regiões quase marginais à zona das araucárias. Os únicos grupos caingangues fora daquele ecossistema são os caingangues paulistas, cujo estabelecimento na região entre o rio Tietê e o rio do Peixe já foi apontado, por alguns autores, como posterior à do Paraná, e feita por grupos que transpuseram o rio Paranapanema.
            Os caingangues ocuparam, historicamente, um vastíssimo território, não completamente contíguo, correspondendo mais ou menos à expansão maior das florestas de pinheirais, o que significa: vastas regiões do Paraná e Santa Catarina, a região do sul-sudoeste paulista, o planalto rio-grandense e parte de Misiones, na Argentina. Seus parentes próximos, os xoclengues, parecem ter preferido os campos entremeados dos pinheirais, mas também ocuparam regiões quase marginais à zona das araucárias. Os únicos grupos caingangues fora daquele ecossistema são os caingangues paulistas, cujo estabelecimento na região entre o Rio Tietê e o Rio do Peixe já foi apontado, por alguns autores, como posterior à do Paraná, e feita por grupos que transpuseram o Rio Paranapanema.
            Ocupando região tão ampla, em incontáveis grupos ou aldeias de população média em torno de 150 a duzentas pessoas (se são válidos os dados que temos para meados do século XIX), embora às vezes articulados por uma lideranças regionais, os caingangues seriam alvo de diferentes momentos de expansão das fronteiras econômicas brasileiras. Alguns grupos caingangues e xoclengues teriam sido convertidos por missões jesuítas no oeste do Paraná e no norte rio-grandense nas primeiras décadas do século XVII, mas não por muito tempo. Depois desse período, apenas no final do século XVIII foram atingidos por frentes de exploração militar, na região de Guarapuava, no atual estado brasileiro do Paraná, onde, em 1812, se iniciaram os primeiros contatos permanentes de um grupo caingangue com uma comunidade de língua portuguesa.
            À mesma época, os territórios xoclengues dos campos de Lages eram alvo de ocupação e, também ali, moveu-se guerra aos índios. A economia pastoril, que levou à ocupação militar de Guarapuava, avançaria, no final da década de 1830, para a região dos Campos de Palmas e, pouco depois, o Campo Erê, os Campos de São João e os Campos Novos; finalmente, a partir dos meados da década de 1840, para a região norte do Rio Grande do Sul (Campos de Nonoai e, na sequência, Campos de Guarita e Campos do Erechim). A região norte do Paraná foi ocupada, também militarmente, apenas na segunda metade do século XIX. Nessa época, começou a ser utilizado o termo "kaingang" para se referir ao grupo: o termo foi cunhado em 1882 pelo coronel Telêmaco Borba, que expulsou esses índios de suas terras. O termo significava "morador do mato", de caa (mato) e ingang (morador).
            Na literatura internacional, o termo "caingangues" tem designado o povo que, na literatura de língua portuguesa, é chamado "xoclengue" (que hoje se autodenominam laklãnõ). Os xoclengues foram descritos por Jules Henry (1941: Jungle People: A Kaingáng Tribe of the Highlands of Brazil), pesquisador que esteve entre eles no início da década de 1930, no leste de Santa Catarina. Por isso, o que se costuma referir na literatura internacional como característica da cultura caingangue é, na verdade, característica da cultura xoclengue, segundo a descrição de Jules Henry.
              
              </p>
            
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_locpop %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          
          <h2 class="mt-4">Dieta Alimentar</h2><hr>
            <p>Os pinhões eram importantíssimos na dieta kaingang, mas também o palmito,
            muitíssimas frutas do mato (guabiroba, guamirim, jabuticaba, pitanga, ariticum, etc.).
            As verduras do mato são diversas: o "fuá", que chamamos de “maria preta” ou “erva
            moura” (eles escrevem "fuva"); o “kumĩ”, que é a folha da mandioca brava, preparada
            com 3 fervuras para perder o veneno, e depois frita em gordura; o broto de abóbora (que
            os brasileiros conhecem por cambuquira); o “ndâr” (escrevem “nár”), que é broto de
            uma bromélia; e outras. As muitas qualidades de mel de abelhas "indígenas" (ou seja,
            abelhas da América, não européias, e que são abelhas sem ferrão). É importante
            registrar que do pinhão também se fazia farinha, e havia uma forma de conservar pinhão
            na água (em poços de rios, presos em cestos de trança larga), que eram buscados depois
            que já não havia pinhões nos pinheiros (era o chamado “pinhão õkór”). Isso prolongava,
            no inverno, o período de fartura dos pinhões. E como os pinhões também alimentavam
            os animais, o período de queda dos pinhões (entre abril e julho) lhes dava também muita
            caça gorda (do que tratamos a seguir). Coletavam também a erva-mate, que precisava
            passar por um preparo para o uso como chimarrão (ver abaixo).
            Usavam muitos tipos de armadilhas para isso (ver o livro do Prof. Dorvalino
            Kógjá Joaquim, Kanhgág Jijén: Armadilhas Kaingang, em edição bilíngue, pela Editora
            Curt Nimuendajú), mas também caçavam com arco e flecha. As principais carnes de
            caça para eles eram as antas, os porcos do mato e queixadas, os veados, as capivaras, as
            pacas, as cotias, tatus (mas não de todas as qualidades) e vários pássaros. Não comiam
            carne de macaco (como alguns outros povos indígenas fazem).
            Hoje, a maioria dos Kaingang consome muitas coisas que vem de fora, e muito produto
            industrializado (incluindo refrigerantes e outros produtos que geram problemas com
            descarte de embalagens plásticas). A base da alimentação da maioria ainda é o feijão,
            hoje acompanhado de arroz. Pessoas mais antigas ou em comunidades mais tradicionais,
            costumam comer o feijão com cangica de milho (não é a cangica doce, com leite, dos
            brasileiros). A maioria das famílias kaingang compra carne, embora muitos tenham
            porcos e galinhas de criação, e muitos já consomem carne de gado (possivelmente a
            maioria), coisa que há cerca de 50 ou 60 anos era pouco comum. A maioria toma café
            (em geral, café solúvel). O chimarrão, hábito que se mantém, e hoje cria a necessidade
            de comprarem a erva (para a grande maioria). Há também muito consumo, atualmente,
            de macarrão e bolachas. Por tudo isso, pelas mudanças a que foram obrigados nos seus
            hábitos alimentares, hoje a obesidade, a hipertensão e o diabetes são problemas de saúde
            comuns entre os Kaingang 



            </p>
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_dieta %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

         

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Links</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Fotos</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="..static/js/jquery.min.js"></script>
    <script src="..static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>