<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - Guajajara</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Guajajara</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2><hr>
            <p>Os Guajajara são um dos povos indígenas mais numerosos do Brasil. Habitam mais de 10 Terras Indígenas na margem oriental da Amazônia, todas situadas no Maranhão.</p>

            <p>Sua história de mais de 380 anos de contato foi marcada tanto por aproximações com os brancos como por recusas totais, submissões, revoltas e grandes tragédias. A revolta de 1901 contra os missionários capuchinhos teve como resposta a última "guerra contra os índios" na história do Brasil. Foram também conhecidos por muitos povos brasileiros como os "cuia de aço" por fazerem ferramentas excelentes para o trabalho. Se alimentam principalmente de caça e de frutas cultivadas por eles.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_historia %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Lingua</h2><hr>
            <p>A língua guajajara pertence à família tupi-guarani, sendo as línguas mais próximas o Asurini (do Tocantins), o Avá (Canoeiro), o Parakanã, o Suruí (do Pará), o Tapirapé e o Tembé, que lhe é muito semelhante. Os guajajara chamam sua língua de ze'egete ("a fala boa").</p>

            <p>Ela é subdividida pelos lingüistas em quatro dialetos que são mutuamente inteligíveis, sem maiores complicações. Nas aldeias, o guajajara é falado como primeira língua, enquanto o português tem a função de língua franca, que é entendida pela maioria. A situação sociolingüística dos guajajara que moram nas cidades é desconhecida.</p>
            
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_lingua %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}


          <h2 class="mt-4">Cultura</h2><hr>
          <p>Não se conhece com certeza a origem do nome guajajara, mas provavelmente foi dado aos Tenetehára pelos Tupinambá. Tanto entre os próprios índios quanto na literatura científica, atualmente a denominação guajajara é mais usada do que Tenetehára.</p>
          <p>Os Guajajara são reconhecidos por sua arte na produção de cerâmicas. Cada aldeia possui seu próprio líder, suas aldeias que antes eram todas formalizadas hoje podem ser quadradas ou redondas.</p>
          <p>AS fontes de renda mais comuns são a comercialização de produtos agrícolas, a venda de artesanato e trabalhos temporários (para os colonos) ou permanentes (para a Funai).</p>

          <p>Outra fonte de dinheiro é a venda de maconha, plantada tradicionalmente pelos guajajara. A maconha foi introduzida por escravos africanos NO século XVIII e seu consumo ainda é uma parte integral da cultura indígena, mas sua venda gera conflitos muito sérios e violentos com AS Polícias Federal e Militar. </p>

          h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_cultura %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Religião</h2><hr>
            <p>A cosmologia tradicional é a típica dos povos tupi-guaranis, distinguindo-se quatro categorias de seres sobrenaturais, que recebem a designação genérica de karowara:</p>

            <p>1. Os criadores ou heróis culturais, responsáveis pela criação e transformação do mundo, sendo Maíra e os gêmeos Maíra-ira e Mucura-ira os mais importantes e Zurupari, o criador das pragas e dos insetos, das cobras peçonhentas e aranhas, um herói cultural muito temido;</p>
            <p>2. Os "donos" das florestas (Ka'a'zar), das águas (Y'zar), das caças (Miar'i'zar) e das árvores (Wira'zar), que são hostis e muito temidos por seu poder maligno;</p>
            <p>3. Os azang, espíritos errantes dos mortos.</p>
            <p>Muitos guajajaras não acreditam mais nestes seres, por causa das atividades missionárias. A mitologia guajajara mistura motivos tupis, europeus e africanos. Há, por exemplo, um mito com o motivo da Gata Borralheira e a figura do Zurupari. Existem três categorias principais de mitos:</p>

            <p>1. mitos de heróis culturais;</p>
            <p>2. mitos que apontam uma moral;</p>
            <p>3. mitos de animais. Em todos os mitos registrados até agora, destaca-se o papel de Maíra. Um mito muito </p>importante para explicar o mundo do ponto de vista dos guajajara é o dos gêmeos Maíra-ira e Mucura-ira.
            <p>O motivo mítico dos gêmeos é comum entre diversos povos tupis. Para os guajajaras, eles são heróis culturais, ao lado de Maíra-pai, embora não tenham o mesmo pai. Enquanto Maíra-ira tem origem divina, Mucura-ira tem origem animal, como seu pai. O mito relata sua odisseia por um mundo cheio de desafios e perigos, desde os primeiros momentos dentro da barriga da mãe até o encontro final com Maíra. O maior desafio é sua sobrevivência entre as onças, que são canibais e matam a mãe dos dois, mas os gêmeos se vingam delas brutalmente. No decorrer dos anos, os dois aprendem superar todos os perigos naturais e supernaturais, mas Mucura-ira sofre mais devido a sua natureza humana.

            </p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_religiao %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          
          <h2 class="mt-4">Localização e População</h2><hr>
            <p>Todas as Terras Indígenas habitadas pelos guajajara estão situadas no centro do Maranhão, nas regiões dos rios Pindaré, Grajaú, Mearim e Zutiua. São cobertas pelas florestas altas da Amazônia e por matas de cerradão, mais baixas, sendo estas matas de transição entre as florestas amazônicas e os cerrados. Os guajajara nunca habitaram os cerrados vizinhos, região dos povos jê. Sua região mais antiga, historicamente conhecida, foi o médio rio Pindaré.</p>

            <p>A partir do final do século XVIII e início do seguinte, expandiram seu território para as regiões dos rios Grajaú e Mearim, onde se estabeleceram pouco tempo antes da chegada dos brancos, disputando com vários grupos timbira as áreas de caça. Por volta de 1850, uma parte dos Tenetehára migrou para o norte e mais tarde passou a ser chamada de Tembé pelos regionais.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_locpop %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          
          <h2 class="mt-4">Dieta Alimentar</h2><hr>
            <p>A principal atividade de subsistência é a lavoura, sendo comum o plantio de mandioca, macaxeira, milho, arroz, abóbora, melancia, feijão, fava, inhame, cará, gergelim, amendoim. Na estação seca, de maio a novembro, são realizadas a broca, derrubada, queimada, coivara e limpeza, enquanto de novembro a fevereiro se faz o plantio e as capinas.</p>
            <p>Os guajajara costumam pescar cerca de 36 espécies diferentes, sendo o cará, o cascudo, a lampreia, o mandi, o pacu, o piau e a traíra AS mais comuns. Durante AS últimas décadas, a caça tornou-se uma atividade cada vez menos produtiva por causa da concorrência dos brancos e das limitações das áreas. </p>
            <p>Os guajajara caçam tradicionalmente mais de 56 espécies, sendo AS mais comuns o caititu, a cutia, o jacamim, o jacu, a queixada e diversas espécies de macacos e tatus. A coleta ainda é praticada por quase todos os guajajara. AS atividades de coleta, NO entanto, estão sendo substituídas cada vez mais pela fruticultura nas aldeias e roças. Atualmente os guajajara plantam cerca de 30 tipos de fruteiras e palmeiras. </p>
          </p>
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_dieta %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

         

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="..static/js/jquery.min.js"></script>
    <script src="..static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
