<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - Guarani</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Guarani</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2><hr>
            <p>Os guarani são coletores e caçadores. O espaço físico que habitam é denominado tekoha, terra. São indivíduos que se autodeterminam como extensão da terra onde pisam.
              Esse conceito está no cerne da maioria das disputas fundiárias vivenciadas pelo povo guarani no Brasil.
              Migrar é um processo natural entre os guarani. Essa é a tática aplicada para permitir a renovação do solo e garantir sua sobrevivência. A prática nômade advém de sua característica essencialmente extrativista e ocorre há mais de 2 mil anos.
              Esse traço cultural foi interrompido pela colonização. Após a chegada dos europeus, grupos de guarani iniciaram um processo de migração para fugir dos ataques, assassinatos e da escravidão.
              Com a posse do território, contudo, não havia mais lugar para migrar, embora alguns grupos ainda tendem a persistir.
              No Estado de Mato Grosso do Sul, há sucessivos ataques aos indígenas, a maioria dos grupos mbya, kaiowa e nhandeva. No estado, as áreas dos indígenas deram lugar a fazendas de pecuária, soja e cana-de-açúcar.
              A interrupção do processo de migração foi acentuada após a Guerra do Paraguai, ocorrida entre 1864 e 1870.
              Ao fim da guerra, o território foi negociado para ocupação e para a garantia da exploração econômica. Entre os primeiros produtos explorados na região está a erva-mate, ainda bastante consumida.
              Entre as décadas de 70 e 80, se inicia o processo de mecanização das culturas, principalmente as de soja e cana-de-açúcar. Os produtos ainda são as principais commodities agrícolas da região.</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_historia %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Lingua</h2><hr>
            <p>O idioma guarani pertence ao tronco linguístico tupi-guarani, de onde derivam 21 línguas.
              É o idioma indígena mais falado na América do Sul e chega a 60% do Paraguai. As escolas sul-mato-grossenses da fronteira o ensinam na escola.</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_lingua %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

            
          <h2 class="mt-4">Cultura</h2><hr>
            <p>Os índios guarani, também chamados de grande povo, acreditam que foram criados por Tupã para admirar a terra.
              O primeiro guarani, Ñamandú, fez da terra seu leito. A admiração é manifestada pela palavra. </p>

            <p >A organização social e os cantos estão entre as mais evidentes manifestações culturais do povo guarani. Para eles, a terra, tekoha é parte integrante da família.
              Os cânticos guarani são entoados como uma forma de demonstrar aos deuses que existem sobre a terra.
              Sua música também é entoada para o controle das forças da natureza, como falta ou excesso de chuva. Os cantos são entoados ao som de cabaças transformadas em instrumentos musicais.</p>

              h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_cultura %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Religião</h2><hr>
            <p>Os índios brasileiros são politeístas, mas sua maneira de relacionar-se com a religião mudou drasticamente com a influência da colonização, de orientação católica e monoteísta.
              Acreditavam nas forças da natureza, na divindade de animais, de plantas e do próprio homem interagindo com todos os elementos.
              Pela tradição oral repassavam os costumes e as orientações para os rituais de vida e de morte. Entre os rituais de vida marcantes estão as celebrações de passagem, que marcavam a transição para a vida adulta.
              A característica comum dos povos indígenas brasileiros no que tange à religião é o xamanismo. É o xamã o responsável pela condução dos rituais.
              Entre os povos tupi-guarani, o xamã é denominado pajé, a pessoa que lida com as conexões entre seres vivos, a natureza, humanos vivos e mortos.</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_religiao %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          
          <h2 class="mt-4">Localização e População</h2><hr>
            <p> O povo indígena Guarani está localizado em cinco países sul-americanos: Argentina, Brasil, Paraguai, Uruguai e Bolívia. Em nosso país, essa população de 67.523 índios (IBGE, 2010) está distribuída principalmente nas regiões Sul (Rio Grande do Sul, Santa Catarina, Paraná), Sudeste (São Paulo, Rio de Janeiro, Espírito Santo) e Centro-Oeste (Mato Grosso do Sul). Trata-se de uma das maiores populações indígenas do país, representando mais de 7% dos 896.917 existentes em território nacional (IBGE, 2010).
              
              Os Guarani que vivem no Brasil se dividem em três subgrupos: Ñandeva, Kaiowá e Mbya. Tal classificação foi adotada nos anos 1950 pelo antropólogo Egon Schaden e está pautada, sobretudo, em suas observações sobre as diferenças no dialeto, nos costumes e nas práticas rituais entre este povo. Tal classificação é, atualmente, a mais adotada, embora em muitos casos não corresponda aos etnônimos utilizados pelos próprios Guarani para se autodefinirem. Assim, por exemplo, na região da tríplice fronteira entre Brasil (oeste paranaense), Paraguai e Argentina, há grupos que se autodenominam Avá-Guarani e, em São Paulo, existem grupos que se definem como Tupi-Guarani.
              
              Os Ñandeva vivem no Mato Grosso do Sul e também no Rio Grande do Sul, em Santa Catarina, no Paraná e em São Paulo. Já os Kaiowá estão concentrados principalmente no estado de Mato Grosso do Sul, embora sua presença também possa ser encontrada no Paraná. Por sua vez, os Mbya habitam as regiões Sul e Sudeste, principalmente São Paulo e Santa Catarina. Nestas regiões, eles também dividem terras indígenas com outros povos, sobretudo os Kaingang. Além disso, na Terra Indígena Xamboiá, no Tocantins, coabitam índios Guarani Mbya e Karajá; e na Reserva Indígena Nova Jacundá, localizada no Pará, vivem os Guarani Mbya.</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_locpop %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          
          <h2 class="mt-4">Dieta Alimentar</h2><hr>
            <p>O peixe, carne, milho cozido, mandioca,o cauim(um tipo de bebida) faz parte da alimentação dos índios guaranis .Tudo o que é caçado ou pescado é repartido entre todos. Por os antigos guaranis viverem perto dos rios e do mar, acabaram introduzindo a canoa de tronco e a jangada para a casada nos rios. 
              
              A erva-mate é o elemento básico da alimentação dos guaranis, cuja tribo se espalhava pelo vasto território banhado sobretudo pelos Rios Paraná, Uruguai e Paraguai.
              
              Com o objetivo de tornar comestível a raiz da mandioca amarga, os Guarani sujeitavam-na a um complexo tratamento destinado a eliminar o ácido cianídrico. A polpa é espremida no tipiti (prensa destinada a extrair a água que continha a substância venenosa), amassada e, depois, assada ou torrada em grandes recipientes circulares de barro. A mandioca doce (aipim) era normalmente comida depois de descascada e assada diretamente nas brasas. Os Guaranis preferiam o milho, ingerindo-o cozido ou assado, procedendo também à secagem do grão maduro e inteiro.
              Eles comem normalmente peixe fresco, depois de fervido em água. No entanto, podiam também consumi-lo moqueado, ou seja, cozinhando numa grelha feita em varas de madeira verde (moquém). A carne é geralmente grelhada, exceto a de anta, que é cozida. Misturam sal com pimenta e tomam uma pitada dessa massa (juquiraí) sempre que ingeriam uma porção de alimento.
              Produzem uma bebida – o cauim – a partir do aipim, do milho, da batata-doce, de seiva de palmeiras e de frutas (ananás e caju). Esta tarefa é destinada às moças que, após o cozimento da matéria-prima, mastigavam-na, desencadeando, através da saliva, o processo de fermentação. O cauim tem um aspecto turvo e espesso como borra e era consumido morno.
              Da dieta alimentar tupi-guarani fazem parte também frutos silvestres como maracujá, jabuticaba, araçá, cajá e mangaba, além de mel, ovos de pássaros, larvas, gafanhotos, abelhas e formigas.</p>

              </p>
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_dieta %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          

         

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="..static/js/jquery.min.js"></script>
    <script src="..static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
