<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - Ianomâmis</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Ianomâmis</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2><hr>
            <p>Os Ianomâmis eram vistos como os representantes de um estado prístino, próximos ontologicamente dos japoneses, que teriam se espalhado a partir da Ásia para as Américas pelo estreito de Bering. Essa visão foi reforçada pela informação da alta incidência de sangue tipo O entre os povos ameríndios. No Japão, aparentemente é muito importante no estabelecimento de relações saber de antemão o tipo de sangue, de acordo com um horóscopo de sangue (Ketsueki Gatá Uranai); o tipo O remete ao mais antigo, sendo os demais, A, B e AB correspondentes aos diferentes estágios da evolução humana (sociedade agrária, migração para o norte e miscigenação modernas de grupos, respectivamente).</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_historia %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Lingua</h2><hr>
            <p>Os Ianomâmis falam quatro línguas: a Yanomam, Sanumá, Yanomame e Yanam. Há muitas variações e dialetos da língua, de tal forma que as pessoas de diferentes aldeias nem sempre pode entender um ao outro. Linguistas acreditam que a linguagem Ianomâmi não tenha relação com todas as outras línguas indígenas sul-americanos. As origens da língua são desconhecidas.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_lingua %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

            
          <h2 class="mt-4">Cultura</h2><hr>
            <p>Os Ianomâmis compartilham de uma casa plurifamiliar, chamadas de "malocas". A maloca possui uma forma cônica, pode ter até 40 metros de diâmetro e 14 metros de altura, com sua estrutura de madeira roliça amarrada com cipó- titica ou ambé- coroa; e é coberta com folhas de ubim. Não tem paredes divisórias, com duas a três entradas principais e outras menores para o uso familiar, além de dentro das malocas existirem jiraus, os quais são utilizados para guardar pertences e produtos da roça e podem abrigar de dez a quinze famílias.</p>

            <p>Cada casa coletiva ou aldeia considera-se autônoma ("co-residentes") e seus membros optam preferencialmente por casamentos entre pertencentes da mesma comunidade. Esse tipo de casamento, entre parentes com um(a) primo(a) "cruzado(a)", ou seja, o(a) filho(a) de um tio materno e uma tia paterna, faz da casa coletiva ou aldeia yanomami um denso e confortável emaranhado de laços de consangüinidade e familiariedade.</p>

            <p>Os adornos corporais são um ponto importante dos costumes Yanomami. O homem possui somente uma vestimenta, a qual constitui-se por um fio ao redor dos quadris e atado ao prepúcio para levantar o pênis. As mulheres ficam nuas, com um cordão ao redor dos quadris, onde penduram alguns tipos de adornos. Tanto homens quanto mulheres cortam o cabelo de forma circular no alto da cabeça. Realizam pintura corporal e facial, a qual consiste em desenhos geométricos ou circulares, geralmente vermelhos ou pretos. Utilizam ainda penas de diversas aves para enfeitar os cabelos e outras partes do corpo. São produzidos como artesanato: cestarias, colares, cocares, adornos de braço e brincos de penas ou hastes.</p>

            h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_cultura %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Religião</h2><hr>
            <p>Os xapiripë são vistos sob a forma de miniaturas humanóides enfeitadas de ornamentos cerimoniais coloridos e brilhantes. São, sobretudo, "imagens" xamânicas (utupë) de entes da floresta (mamíferos, pássaros, peixes, batráquios, répteis, lagartos, quelônios, crustáceos e insetos), mas existem também espíritos de diversas árvores, folhas, espíritos dos cipós, dos méis silvestres, da água, das pedras, das cachoeiras, entre outros.Muitos são também "imagens" de personagens mitológicas.</p>

            <p>Os pajés podem chamar até si os xapiripë, para que estes atuem como espíritos auxiliares. Esse poder de conhecimento, visão e de comunicação faz dos pajés os pilares da sociedade Ianomâmi. Controlam a fúria dos trovões e dos ventos de tempestade, a regularidade e a alternância do dia e noite, secas e chuvas, a abundância da caça, a fertilidade das plantações, afastam os predadores sobrenaturais da floresta, contra-atacam as investidas de espíritos agressivos de pajés inimigos e, principalmente, curam os doentes.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_religiao %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          
          <h2 class="mt-4">Localização e População</h2><hr>
            <p>O território pertencente a esta tribo foi oficializado pelo então Presidente Fernando Collor de Mello, no dia 25 de maio de 1992. Trata-se de um terreno com altos e baixos, sob um teto constituído por espessa floresta tropical úmida, perto das serras Parima e Pacaraíma. Infelizmente eles não podem aproveitar este solo para atividades agrícolas intensivas, pois ele é muito carente de recursos. Mas o povo mantém uma interação avançada entre os membros das aldeias, organizando-se economicamente sem dificuldades. Além disso, preservam ligações matrimoniais, rituais ou de adversidade.</p>

            <p>De acordo com as histórias ianomâmis e textos muito antigos sobre este povo, o núcleo histórico de sua morada localiza-se na Serra Parima, a mais intensamente povoada.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_locpop %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          
          <h2 class="mt-4">Dieta Alimentar</h2><hr>
            <p>Praticam a agricultura de subsistência — ou seja, plantam para suprir as necessidades da aldeia. Alimentam-se de banana-verde, aipim, milho, frutas, mel, larvas e alguns tubérculos, como batata e mandioca. Cultivam tabaco e algodão, muito utilizado para fazer redes de dormir e redes de pesca, além de sacolas e roupas.</p>

            <p>Além disso, fazem flechas, que utilizam para caçar macacos, veados, antas, galinhas e tatus. Às vezes, caçam com a ajuda de cachorros.</p>

            </p>
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_dieta %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          

         

        </div>



      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="..static/js/jquery.min.js"></script>
    <script src="..static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
