<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - Guarani</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Guarani</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2>
          <hr>

          <p>Os guarani são coletores e caçadores. O espaço físico que habitam é denominado tekoha, terra. São indivíduos que se autodeterminam como extensão da terra onde pisam.
            Esse conceito está no cerne da maioria das disputas fundiárias vivenciadas pelo povo guarani no Brasil.
            Migrar é um processo natural entre os guarani. Essa é a tática aplicada para permitir a renovação do solo e garantir sua sobrevivência. A prática nômade advém de sua característica essencialmente extrativista e ocorre há mais de 2 mil anos.
            Esse traço cultural foi interrompido pela colonização. Após a chegada dos europeus, grupos de guarani iniciaram um processo de migração para fugir dos ataques, assassinatos e da escravidão.
            Com a posse do território, contudo, não havia mais lugar para migrar, embora alguns grupos ainda tendem a persistir.
            No Estado de Mato Grosso do Sul, há sucessivos ataques aos indígenas, a maioria dos grupos mbya, kaiowa e nhandeva. No estado, as áreas dos indígenas deram lugar a fazendas de pecuária, soja e cana-de-açúcar.
            A interrupção do processo de migração foi acentuada após a Guerra do Paraguai, ocorrida entre 1864 e 1870.
            Ao fim da guerra, o território foi negociado para ocupação e para a garantia da exploração econômica. Entre os primeiros produtos explorados na região está a erva-mate, ainda bastante consumida.
            Entre as décadas de 70 e 80, se inicia o processo de mecanização das culturas, principalmente as de soja e cana-de-açúcar. Os produtos ainda são as principais commodities agrícolas da região.</p>
          
          <h2 class="mt-4">Cultura</h2>
          <hr>

          <p>Os índios guarani, também chamados de grande povo, acreditam que foram criados por Tupã para admirar a terra.
            O primeiro guarani, Ñamandú, fez da terra seu leito. A admiração é manifestada pela palavra. O idioma guarani pertence ao tronco linguístico tupi-guarani, de onde derivam 21 línguas.
            É o idioma indígena mais falado na América do Sul e chega a 60% do Paraguai. As escolas sul-mato-grossenses da fronteira o ensinam na escola.</p>

          <p >A organização social e os cantos estão entre as mais evidentes manifestações culturais do povo guarani. Para eles, a terra, tekoha é parte integrante da família.
            Os cânticos guarani são entoados como uma forma de demonstrar aos deuses que existem sobre a terra.
            Sua música também é entoada para o controle das forças da natureza, como falta ou excesso de chuva. Os cantos são entoados ao som de cabaças transformadas em instrumentos musicais.</p>

          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

          <hr>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Links</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Fotos</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="..static/js/jquery.min.js"></script>
    <script src="..static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
