<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - Macuxi</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Macuxi</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="../static/fotos/macuxi.jpg" alt="">
          <h4 class="mt-4">Tribos similares:</h4>
          {% for n in r_geral %}
            <p><a href="{{ url_for(n) }}">{{n}}</a></p>
          {% endfor %}
          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2><hr>
            <p>O primeiro histórico de contato de que se tem informação é datado em meados do século XVIII, em uma ocupação territorial estratégico-militar. A região em que estavam localizados, perto da fronteira com as Guianas, regiões em que havia domínio holandês e espanhol. Com altas probabilidades de invasão territorial, os portugueses decidiram ocupar essas áreas para impedir qualquer atividade de outros exploradores. Em 1775 foi construído um forte na região de confluência dos rios Uraricoera e Tacutu, formadores do Branco, via de acesso às bacias dos rios Orinoco e Essequibo. Para que o forte se mantivesse numa posição estratégica, o aldeamento dos índios, tanto Macuxis(em minoria) como outros demais foi estabelecido, criando um ambiente propício à defesa dos portugueses caso houvesse alguma situação perigosa a eles.
            São raros os documentos que constam informações sobre esse grupo, tem-se notícias de apenas dois principais grupos Macuxi: Ananahy em 1784 e Paraujamari em 1788, que chegaram a aldear-se, trazendo pequenos grupos consigo. O aldeamento é a primeira forma de agrupamento do grupo que se tem informações, e os índios passaram a se reunir às margens do rio Negro e outros foram reagrupados em outros aldeamentos por portugueses.
            O extrativismo foi uma atividade imposta pelo homem branco que veio a afetar novamente os Macuxi. No período imperial, a exploração da borracha estava em alta, e os Macuxi não foram exceção. Além da extração da borracha, estes também foram submetidos à extração do caucho e da balata na matas do baixo rio Branco.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_historia %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Lingua</h2><hr>
            <p>O idioma Macuxi pertence à família linguística caribe. Esta classe linguística faz parte do grupo denominado Línguas Aruaques, um conjunto de idiomas falados na América do Sul, em regiões que se estendem da Cordilheira dos Andes à Bacia Amazônica, do Paraguai às Guianas, e também no Mar do Caribe.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_lingua %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

            
          <h2 class="mt-4">Cultura</h2><hr>
            <p>Um dos aspectos culturas mais curiosos nesse grupo é a organização social. A um olhar desatento e sem interesse, a distribuição de famílias dentro de uma aldeia Macuxi é, a princípio, aleatório. Pequenas casas abrigam famílias e estão localizadas em um lugar que julgaram bom. Na verdade, as casas são distribuídas em um território por parentelas. Vivem em aldeias ligadas por trilhas e caminhos, com casas construídas em volta de um pátio central. Um exemplo muito comum disso é quando uma moça e um homem se casam. Após o casamento, o casal passa a morar na casa da família da moça, e o pai dela se torna um líder-sogro, cuja habilidade política na manipulação dos laços de parentesco depende sua existência. Com o declínio do prestígio do líder-sogro (ou sua morte), o grupo local tende a tomar outras formas, desfazer-se. Mesmo em caso de morte, porém, a aldeia persiste como referência histórico-geográfica.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_cultura %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Religião</h2><hr>
            <p>Em diversas versões narrativas – Pandon –, contam esses povos que Macunaíma percebeu entre os dentes de uma cotia, adormecida de boca aberta, grãos de milho e vestígios de frutas que apenas ela conhecia; saiu, então, a perseguir o pequeno animal e deparou com a árvore Wazacá – a árvore da vida –, em cujos galhos cresciam todos os tipos de plantas cultivadas e silvestres de que os índios se alimentam. Macunaíma resolveu, então, cortar o tronco – Piai – da árvore Wazacá, que pendeu para a direção nordeste. Nessa direção, portanto, teriam caído todas as plantas comestíveis que se encontram até hoje, significativamente nas áreas cobertas de mata.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_religiao %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          
          <h2 class="mt-4">Localização e População</h2><hr>
            <p>Em 2004, a população macuxi no Brasil era estimada em torno de 19 mil pessoas e cerca de metade dessa cifra era encontrada na vizinha Guiana, ocupando áreas de campo e de serras no extremo norte do estado de Roraima e o norte do distrito guianense de Rupununi.
            O território macuxi estende-se por duas áreas ecologicamente distintas: ao sul, os campos; ao norte, uma área onde predominam serras em que se adensa a floresta, prestando-se assim a uma exploração ligeiramente diferenciada daquela feita pelos índios da planície. A dimensão desse território pode ser estimada em torno de 30 mil a 40 mil km2.

            A distribuição espacial da população macuxi faz-se em várias aldeias e pequenas habitações isoladas. Estima-se que existam 140 aldeias macuxi no Brasil, mas não há dados precisos sobre o seu número. Para a área guianense, a estimativa é de cerca de 50 aldeias no interflúvio Maú(Ireng)-Rupununi [dados de 2004].

            Apresentando notável constância, essa distribuição espacial dos Macuxi tem permanecido inalterada ao longo de uma extensão contínua de terras desde pelo menos os primeiros registros historiográficos disponíveis para a região do vale do Rio Branco, no século XVIII.

            O território macuxi em área brasileira hoje está recortado em três grandes blocos territoriais: a TI Raposa Serra do Sol, a TI São Marcos, ambas concentrando a grande maioria da população, e pequenas áreas que circunscrevem aldeias isoladas no extremo noroeste do território macuxi, nos vales dos rios Uraricoera, Amajari e Cauamé.

            A mais populosa é a TI Raposa Serra do Sol, na porção central e mais extensa de seu território. Essa área é habitada por uma população global estimada em 10 mil habitantes distribuídos em 85 aldeias cuja grande maioria é Pemon [dados de 2004].

            As fronteiras étnicas na região são bastante tênues, em função de arranjos residenciais entre parentelas cognáticas integradas por homens de diferentes procedências, sobretudo em aldeias nas zonas de intersecção entre as etnias, em que há agrupamentos compostos por famílias extensas mistas entre Macuxi e Ingaricó; ou entre Macuxi e Patamona: os Macuxi e os Wapichana, entre outros.

            A TI São Marcos estende-se contígua à TI Raposa/Serra do Sol. Trata-se de uma área onde estão localizadas 24 aldeias macuxi, com uma população total estimada em 1.934 pessoas (Funai, 1996), que é em sua grande maioria Macuxi.
              
              </p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_locpop %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          
          <h2 class="mt-4">Dieta Alimentar</h2><hr>
            <p>Os Ingarikó, assim como diversos grupos sul-americanos, têm o beiju eki como base principal de sua alimentação. Há dois outros componentes que são adicionados ao beiju, o caxiri de batata roxa (sakï), o mais usado na região é a damorida, caldo de pimenta (pïmëi) misturado com vários ingredientes especialmente carne e peixe. De fato, o caxiri é o elemento mais incrementado, podendo ser caxiri de milho, de banana, de cana, de abóbora. Tanto o beiju quanto o caxiri exigem da mulher, a única responsável por sua produção, domínio tecnológico que vai desde a extração do veneno da mandioca ao reaproveitamento desse quando se transforma no saboroso molho de tucupi, de largo uso na culinária amazônica.

            A caça moqueada (defumada), embora esteja passando por uma fase de escassez, mediante o crescimento da população nos últimos 10 anos, é muito apreciada por todos. Peixes e crustáceos são eventuais na alimentação dos Ingarikó, pois as águas frias das montanhas e a baixa quantidade de oxigênio nos rios são condições adversas para essas espécies.


            Já o cultivo de frutas que tem a banana como predominante, é seguido pelo de abacaxi, laranja, tangerina, manga, ata, sendo de monitoramento nuclear, ou seja, cada família planta um tipo diferente de fruta - conduta que mantém a relação de troca entre eles. A depender da estação do ano, por exemplo, no verão, formigas, lagartos, frutas e mel podem ser acrescidos à dieta. A única restrição quanto à ingestão de caça é prerrogativa dos velhos que não comem onça kaikusi, postura já não assumida pelos jovens.
            </p>

            </p>
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_dieta %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          

         

        </div>

  

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>