<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - Marubos</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Marubos</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="../static/fotos/marubos.jpg" alt="">
          <h4 class="mt-4">Tribos similares:</h4>
          {% for n in r_geral %}
            <p><a href="{{ url_for(n) }}">{{n}}</a></p>
          {% endfor %}
          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2><hr>
            <p>Os Marúbo tiveram contato com serigueiros peruvianos no fim do século XIX e tiraram o látex por eles em troca pelos artigos industriais. A região foi abandonada pelos seringalistas acerca de 1912. Nas décadas 30 e 40 do século XX se isolaram quando a borracha acabou e mudaram para o alto rio Curuça. Organizaram-se em clãs ou secções que eram provavelmente elementos sobreviventes de diversos povos, que falaram línguas diferentes, decimados na época da borracha. Nos anos 50 procuram contato com os regionais no rio Juruá para ter mais ferramenta de aço. Começaram comercio em peles de animais e tiveram contato com madeireiros que estavam entrando na região (Anonby e Holbrooks 2010.12; Melatti 1998).
              
              Em 1952 a Missão Novas Tribos do Brasil e a SIL começaram a trabalhar com os Marúbo, aprenderam a língua bem e deram assistência médica e educação para os ajudar enfrentar o mundo de fora. Os Marúbo manteram boas relações com os missionários e os índios manteram seus costumes e malocas (Hemming 2003.539). A população cresceu com mais de 400 em um local. Os missionários combateram epidemias e sarampo, meningite, influenza e tuberculose.
              
              Houve ataques pelos Matsés por volta de 1960 e os Marúbo responderam por matar 14 deles (Melatti 1998). Os índios das duas comunidades nos rios Curuçá e Ituí continuaram tirarem o látex e o vender aos regatões, e protestaram quando o governo tentou fechar os rios ao comércio. A FUNAI entrou a região em 1974, e quando esta demorou fazer uma pista de pouso para os teco teco dos missionários eles mesmos brocaram o mato para fazê-la (Hemming 2003.539).
              
              São um dos povos maiores e influentes da Terra Indígena do Vale Javari e envolvidos no Conselho Indígena (CIVJA) que fornece assistência médica. Seus inimigos são os Matsés, mas têm bons relacionamentos com os Matis e jogam futebol com eles e os ajudam nas roças. A MNTB tem uma escola e alguns alunos assistem as escolas secundárias em Atalaia e Cruzeiro do Sul (Anonby e Holbrooks 2010.12).</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_historia %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          
          <h2 class="mt-4">Lingua</h2><hr>
            <p>Marúbo (DAI/AMTB 2010) da família linguística Pano norte central. Não parece ser inter inteligível com Matsés (SIL). Os Marúbo dizem que a língua é dos Chaináwavo, uma etnia extinta. Os jovens falam português (Melatti 1998).</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_lingua %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

        
          <h2 class="mt-4">Cultura</h2><hr>
            <p>Os marubos não diferem essencialmente dos demais povos pano dessa região sendo que, como assinala Dan James Pantone [6] foram os primeiros povos indígenas do vale do Javari a fazer contato com estranhos na virada do século XX sendo por conseguinte, em detrimento de outras tribos do Vale, os primeiros a ter acesso a armas de fogo adquirindo poder e capacidade de dominar todas as outras tribos do Javari.
              Galvão (o.c.) descreve essa área cultural típica de florestas com predominância de terras baixas, enfrentando atividade extrativistas desde 1860, como tendo a subsistência na base de roças, pesca, canoas de casca e ubás, remo lanceolado, caça com uso de veneno (provavelmente curare) e zarabatanas. Entre os panos crença num deus supremo. Xamanismo com utilização de paricá, tabaco, chicha. Melatti descreve ainda a utilização da ayahuasca e vacina do sapo ou a "injeção de sapo" (secreção da perereca Philomedusa bicolor) usada para dar ânimo, tirar a preguiça, tirar o panema.
              Segundo Júlio César Melatti[7], entre os marubos, há dois tipos de agentes da magia. Um deles, que entra em transe e recebe em seu corpo espíritos de outras camadas do universo enquanto sua própria alma visita essas camadas, exerce mais do que atividades de cura, uma vez o simples contato com esses seres já é razão suficiente para procurar comunicação com eles. O outro tipo é constituído por aqueles que entoam cânticos de cura sobre os doentes. Ambos os tipos fazem uso da ayahuasca e do rapé de tabaco.
              Ainda segundo Melatti, para os marubos o universo é constituído de várias camadas terrestres, das quais a superior é aquela onde vivemos, e várias camadas celestes. Para os seres humanos talvez a camada celeste mais importante seja a segunda, contando-se de baixo par cima, pois é para lá que devem se dirigir suas almas após a morte, através do percurso de um caminho cheio de perigos, a cujos obstáculos aqueles que não seguiram as regras sociais sucumbem. Observe-se a concepção do não cumprimento das regras sociais associado à morte e adoecimento. As doenças na concepção marubo, conforme os cânticos de cura, se formam de partes de outros seres (mítico membros e órgãos e pedaços de animais abatidos por um herói mítico).</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_cultura %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Religião</h2><hr>
            <p>Somente os homens mais maduros usamo rapé e a ayahuasca (caapi). Realizam a festa da colheita do milho. Qualquer homem maduro pode entoar os cânticos de cura, tomando ayahuasca e rapé, sentado em redor do doente. Há também praticantes especiais para fazer isso. Os cânticos narram a origem do doente de outros seres e como a doença entrou o corpo e invocam outros seres para entrar no copro para combatê-la. Outra cura é por comer um mingau, sobre o qual foram entoados os cânticos. O pajé através de tomar ayahuasca pode receber os espíritos no seu corpo e visitar as casas dos espíritos benevolentes com a finalidade de curar ou achar coisas perdidas (Melatti 1998).
              
              O transporte para a maloca de um novo trocano (instrumento de percussão constituído de um tronco de madeira com uma cavidade retangular profunda) tem seu ritual (Melatti 1998). Praticam curas de pajelança e cerimonias fúnebres (Anonby e Holbrooks 2010.12). O rito fúnebre no passado era de cremação e pulverização dos ossos e a ingestão das cinzas dentro de uma comida pastosa, com fazem os Yanomami. Hoje os cadáveres estão levado bem fora da aldeia e enterrados na sua rede. Um tapiri é construído sobre a cova (Melatti 1998).</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_religiao %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}


          <h2 class="mt-4">Localização e População</h2><hr>
            <p>Possuem população de aproximadamente 1300 pessoas e vivem em maior parte na terra indigena do vale do javari , homologada e registrada no CRI e SPU com 8.544.48 ha nas cabeceiras dos rios Itui, Arrojo e Curuça em quatro aldeias e em Atalaia do Norte (Anonby e Holbrook 2010.10). População: 3.759 de 13 etnias. Os assentimentos com sua população estão situados: No rio Ituí logo acima da foz do rio Novo de Cima (88 em 1998). Nas cabeceiras do rio Ituí até acima da foz do Paraguaçu, com uma aldeia ao lado da missão Vida Nova (380 em 1998). No rio Curuçá entre as confluências do rio Pardo e do rio Arrojo (182 em 1998). No Igarapé Maronal, afluente do alto Curuçá (231 em 1998) (Maletti 1998).</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_locpop %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
      
          <h2 class="mt-4">Dieta Alimentar</h2><hr>
            <p>Vivam por agricultura de coivara, cultivando milho, mandioca, banana, papaia, goiabada, algodão, mamões e tabaco.</p>

            </p>
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_dieta %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          
          <hr>

        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
