<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - Potiguaras</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Potiguaras</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="../static/fotos/potiguaras.jpg" alt="">
          <h4 class="mt-4">Tribos similares:</h4>
          {% for n in r_geral %}
            <p><a href="{{ url_for(n) }}">{{n}}</a></p>
          {% endfor %}
          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2><hr>
            <p>No século XVI, os potiguaras somavam aproximadamente 90 000 indivíduos. Eram grandes canoeiros e combateram os invasores portugueses.[4] Falavam a língua tupi antiga e celebravam os ritos que compunham a mitologia tupi.[6] Vários descendentes da tribo dos potiguares adotaram, ao serem submetidos ao batismo cristão, o sobrenome "Camarão", sendo o mais célebre destes o combatente Filipe Camarão (1580/1600-1648), considerado um dos maiores ameríndios da história luso-americana, já que foi decisivo, a exemplo do luso-paraibano André Vidal de Negreiros, na grandiosa vitória contra os neerlandeses durante a Insurreição Pernambucana (1645-1649).</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_historia %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          
          <h2 class="mt-4">Lingua</h2><hr>
            <p>Conforme documentos históricos, nunca houve um consenso que determinasse a língua/grafia dos potiguaras. Apesar disto, a tribo dos índios potiguaras fazem parte da família Tupi-Guarani, utilizando como idioma o português (idioma falado pela maioria das tribos do nordeste).</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_lingua %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          
          <h2 class="mt-4">Religião</h2><hr>
            <p>Originalmente praticantes da religião tupi, atualmente muitos potiguaras são cristãos (católicos, batistas, betéis, fiéis da Assembléia de Deus, da Igreja Universal do Reino de Deus, Brasil para Cristo, dentre outras) ou optam por práticas espirituais ancestrais que veneram entidades e realizam rituais ligados à macumba, ao catimbó e à jurema.
              
              O catolicismo é a religião institucionalizada mais antiga entre os potiguaras, remontando ao período colonial, e fonte dos simbolismos étnicos, históricos e territoriais representados pelas velhas igrejas de Nossa Senhora dos Prazeres e São Miguel, com seus oráculos e festas anuais — existem 19 igrejas na área Potiguara e nas aldeias seus padroeiros são festejados anualmente, os quais são momentos de encontro e aliança entre as comunidades.
              
              Nos últimos anos, tem crescido a atuação de missionários católicos ligados ao Movimento Carismático, o que tem modificado as feições tradicionais do catolicismo potiguara. As chamadas igrejas evangélicas, ou "de crentes", estão presentes na área desde a década de 1960,[7] sendo, as mais atuantes, Betel (três templos), Batista (um templo denominado "Gênese" e dois "Histórica"), Assembleia de Deus (nove templos), Brasil para Cristo (um templo) e Testemunhas de Jeová. Várias aldeias dispõem de templos para a realização dos cultos e é constante a movimentação de pastores nas terras indígenas.
              
              Os umbandistas e juremeiros são alvo de muitos estigmas, sendo acusados de feitiçaria e classificados como catimbozeiros. Sua presença e atuação são discretas, embora existam alguns terreiros e oficiantes publicamente conhecidos residindo nas aldeias. Até 2008, existiam cerca de dez locais de tais práticas espiritualistas. Em Vila Monte-Mor, há um centro espírita kardecista dirigido por um casal formado por uma índia e um não índio.[carece de fontes]
              
              Em interação com este universo multifacetado mas aparentemente invisível, existem inúmeros rezadores e rezadeiras que curam males físicos e espirituais e que se vinculam às práticas mais tradicionais do catolicismo. É com discrição que a maioria dos índios menciona o contato com aqueles que consideram como os espíritos dos antepassados durante o Toré e outros. Contudo, afirmam que este tipo de contato é real e que seus antepassados ainda hoje estão presentes nas matas e furnas da região. Que os matos, mangues e as águas são habitados por entidades que lhes protegem e que os caboclos velhos tinham a faculdade de conversar com esses seres. Além disso, o tratamento com plantas medicinais e o recurso aos poderes sobrenaturais das entidades da natureza e aos antepassados fazem parte das formas de construção da etnicidade, garantindo a especificidade cultural do grupo.
              
              No entanto, nem todos os índios assumem tais práticas como legítimas devido a fatores como a conversão religiosa, em que os conceitos de saúde, doença e cura são expressos geralmente através das interpretações oficiais das igrejas.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_religiao %}
            <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}


          <h2 class="mt-4">Localização e População</h2><hr>
            <p>Os Potiguara tinham em 2004 uma população estimada em 10.837 habitantes (Funasa), distribuída em 32 aldeias nos municípios de Baía da Traição, Marcação e Rio Tinto e nas áreas urbanas de Baía da Traição (1.058 pessoas) e de Marcação (648).
              
              As aldeias constituiam três Terras Indígenas (TI) contíguas: Potiguara, Jacaré de São Domingos e Potiguara Monte-Mor. Em 2005, iniciou-se o processo de identificação de uma outra terra denominada Mundo Novo/Viração.
              
              A formação dos três municípios paraibanos onde os Potiguara se localizam - Baía da Traição, Marcação e Rio Tinto - guarda uma estreita relação com a constituição dos aldeamentos missionários de São Miguel de Baía da Traição e Monte-Mór, sendo este último originado da destruição do aldeamento de Mamanguape. O grupo passou a constituir as aldeias de Baía da Traição e da Preguiça no município de Mamanguape assistidos pelos missionários do Carmo da Reforma.
              
              Assim, a localização dos Potiguara nas faixas de terras acima mencionadas guarda uma estreita relação com os processos históricos dos séculos XVIII e XIX, os quais marcaram a conquista definitiva do território potiguara pelos portugueses.
              
              Na segunda metade do século XVIII, a situação das aldeias missionárias vai ser modificada pelo diretório pombalino que determina a expulsão das ordens missionárias e a elevação das aldeias à categoria de vilas de índios. O aldeamento de São Miguel de Baía da Traição passou a ser chamado de Vila de São Miguel da Baía da Traição e o aldeamento de Preguiça, Vila Nossa Senhora dos Prazeres de Monte-Mór.
              
              Assim, os Potiguara ocupam dois extremos opostos da história política local. De um lado, os Potiguara de Baía da Traição que tiveram sua presença oficializada na década de 1930 do século XX, sendo marcados pela política indigenista nacional. De outro, os Potiguara de Monte-Mór, que foram reconhecidos apenas no início do século XXI, mas que ainda sofrem perseguições e violências dos invasores.</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_locpop %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          

          <h2 class="mt-4">Dieta Alimentar</h2><hr>
            <p>As principais fontes alimentares provém da agricultura e da pesca, destacando-se a produçao e o consumo da farinha de mandioca e de mariscos, crustáceos e peixes. O consumo de alimentos industrializados (entre eles a carne de charque e embutidos) é frequente. A farinha de mandioca é utilizada também como produto de troca pór outros produtos alimentícios, na falta de moeda circulante. A existência de inúmeros pomares naturais (mangaba e cajú) e plantados possibilita o consumo de frutas.</p>

            </p>
            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_dieta %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
            
          <hr>

        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
