<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz Indígena</title>

    <link rel="stylesheet" href="../static/css/check_radio.css">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//goo.gl/mTc43h" rel="stylesheet">
    

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>



        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Descubra sua tribo</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://www.ufo.com.br/admin/arquivos/dnot_7638.jpg" alt="">

          <hr>

          <form method="post" action="/validateQuiz" class="perguntas">
          <!-- Post Content -->
          <h3 class="mt-4">1. Se tivesse que fazer alguma atividade nas férias, qual seria?</h3><hr>

            <div name="Historia">
              <div>
                <label>
                  <input type="radio" class="option-input radio" name="Historia" value="1" />
                  a) Ter uma experiencia de sobrevivencia na mata
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Historia" value="2" />
                  b) Aprender a confeccionar armas, ferramentas, utensilios, etc
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Historia" value="3" />
                  c) Atividades ao ar livre, coo esportes, viagens, etc
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Historia" value="4" />
                  d) Ficar em casa
                </label>
                </div>
            </div>

            <br>
            <h3 class="mt-4">2. Qual a região do Brasil que você vive?</h3><hr>

            <div name="Localizacao">
              <div>
                <label>
                  <input type="radio" class="option-input radio" name="Localizacao" value="1" />
                  a) Norte
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Localizacao" value="2" />
                  b) Nordeste
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Localizacao" value="3" />
                  c) Centro-Oeste
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Localizacao" value="4" />
                  d) Sudoeste
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Localizacao" value="5" />
                  e) Sul
                </label>
                </div>
            </div>

            <br>
            <h3 class="mt-4">3. Dos pratos de comida abaixo, qual você gosta mais?</h3><hr>

            <div name="Dieta">
              <div>
                <label>
                  <input type="radio" class="option-input radio" name="Dieta" value="1" />
                  a) Comidas apimentadas
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Dieta" value="2" />
                  b) Como qualquer coisa
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Dieta" value="3" />
                  c) Comidas prontas
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Dieta" value="4" />
                  d) Frutos do Mar
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Dieta" value="5" />
                  e) Legumes, verduras e frutas em geral
                </label>
                </div>
            </div>

            <br>
            <h3 class="mt-4">4. Qual dessas situações você acharia mais adequado realizar um ritual?</h3><hr>

            <div name="Religiao">
              <div>
                <label>
                  <input type="radio" class="option-input radio" name="Religiao" value="1" />
                  a) Casamento
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Religiao" value="2" />
                  b) Passagem para vida adulta
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Religiao" value="3" />
                  c) Cura de doentes
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Religiao" value="4" />
                  d) Nascimento e Morte
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Religiao" value="5" />
                  e) Colheitas de Alimentos
                </label>
                </div>
            </div>

            <br>
            <h3 class="mt-4">5. Das frases abaixo, qual delas parece ter a escrita mais a seu gosto?</h3><hr>

            <div name="Lingua">
              <div>
                <label>
                  <input type="radio" class="option-input radio" name="Lingua" value="1" />
                  a) Curugugabrado (o ninho do gavião) 
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Lingua" value="2" />
                  b) Epuâ jevy xonaro'i, jajeroy nhanderu oxa agwâ. (Levatem-se guardiões e guardiãs para agradecer e dançar)
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Lingua" value="3" />
                  c) Wlathathum: pode tomar banho
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Lingua" value="4" />
                  d) Kamo – anta
                </label>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Lingua" value="5" />
                  e) Ngẽxguma nabuxgu i duü̃xü̃gü rü guxü̃ma nawüxigu, rü tataxuma ya texé ya togüarü yexera ixĩsẽ. - Todos os seres humanos nascem livres e iguais em dignidade e direitos.
                </label>
                </div>
                <div>
                <label>
                  <input type="radio" class="option-input radio" name="Lingua" value="6" />
                  f) Yemaka – orelha
                </label>
                </div>
            </div>

            <br>
            <h3 class="mt-4">6. Quais das seguintes práticas indígenas chama mais sua atenção ou aguça sua curiosidade?</h3><hr>

            <div name="Cultura">
              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="check1" value="1"/>
                  Poligamia
                </label>
              </div>

              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="check2" value="2"/>
                  Antropofagia
                </label>
              </div>

              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="check3" value="3"/>
                  Ritos de demonstração de força masculinos
                </label>
              </div>

              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="check4" value="4"/>
                  Cantar para se comunicar com deuses
                </label>
              </div>

              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="check5" value="5"/>
                  Cantar para modificar estados da natureza
                </label>
              </div>

              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="check6" value="6"/>
                  Divisão interna espacial entre membros de uma tribo
                </label>
              </div>

              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="check7" value="7"/>
                  Divisão de trabalhos por gênero e idade
                </label>
              </div>

              <div>
                <label>
                  <input type="checkbox" class="option-input checkbox" name="check8" value="8"/>
                  Pinturas e ornamentos em instrumentos e no corpo
                </label>
              </div>
              <br>
            <input type="submit" value="Descubra sua tribo" style="background: #0066A2;

            color: white;

            border-style: outset;

            border-color: #0066A2;

            font: bold 15px arial, sans-serif;

            text-shadow:none;">
          </form>
          <br>
          <br>
          <br>

        </div>



      </div>
      <!-- /.row -->


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="..static/js/jquery.min.js"></script>
    <script src="..static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>