<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tribo - Tapuias</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">WikiIndio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Tapuias</h1>


          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="http://i.imgur.com/VehWTOD.png" alt="">

          <hr>

          <!-- Post Content -->
          <h2 class="mt-4">Historia</h2><hr>
            <p>Autores quinhentistas como Gabriel Soares de Sousa já utilizavam o termo "tapuia", contrastando os índios dessa estirpe com os tupi-guaranis (tupinambás). Os tupi-guaranis marcavam presença no litoral, enquanto os tapuias predominavam no interior. Grupos incluem, por exemplo os botocudos e muitos do nordeste do Brasil, como os tarairus e os cariris. Os tapuias também eram conhecidos por "bárbaros", explicando melhor, os gregos antigos em função do grande avanço que sua sociedade havia conquistado chegavam ao ufanismo de julgar inferior toda cultura que se diferenciasse. Por causa disso, todos os que não falavam grego soavam como “bar-bar-bar” por isso os gregos lhes davam o nome de bárbaros. Algo semelhante acontecia aqui no Brasil pré-colônia, no período que os nativos ainda chamavam essa terra de Pindorama. Todos os que não pertenciam ao tronco linguistico tupi-guarani era chamados de tapuias.
            Esse povo habitava os sertões da capitania do Rio Grande do Norte, divididos em vários grupos nomeados de acordo com a região onde moravam – Cariris (Serra da Borborema), Tarairiou (Rio Grande e Cunhaú), Canindés (no sertão do Acauã ou Seridó), e eram chefiados por vários reis e falavam línguas diversas, e entre os mais destacados eram os reis Janduí e Caracar, cujo poder real não era hereditário.
            Os tapuias eram fortes, possuíam semblante ameaçador, corriam igual as feras, por isso eram muito temidos. Eles eram inconstantes, fáceis de ser levados a fazer o mal, eram endocanibalistas, isto é, devoravam até mesmo os de sua tribo quando da sua morte.
            Os homens apresentavam-se corpulentos, possuidores de grande força física, pele queimada, em tons de marrom, cabelo longo, eram desprovidos de pêlos por todo o corpo, não costumavam usar roupas porém cobriam as partes íntimas com peças feitas de materiais rudimentares, extraídos da natureza.
            As mulheres apresentavam estrutura física pequena, mas a cor era a mesma da dos homens, costumavam manter os cabelos curtos ou longos, de corpos rechonchudos. Elas também escondiam suas partes íntimas e adornavam seu corpo com o que encontravam na natureza.</p>

            <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_historia %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Lingua</h2><hr>
            <p>Quais são as características linguísticas desse povo? Descrever melhor aspectos como língua, tronco, etc.
              A linguagem era um tanto mal entendida, pois era trêmula, e cantada, não se entendia nada. Dezenas de palavras foram usadas na linguagem dos tapuias como por exemplo; carfa, caruatá, cayú, comatyn, corpamba, corraveara, cucuraí, ditre, entre outros.
              Assim, por exemplo, segundo o jesuíta Jácome Monteiro, escrevendo no início do século XVII, foram os heróis civilizadores que estabeleceram a distinção entre Tupis e Tapuias: “Dizem mais que este Maíra Tupã dividiu entre eles as línguas para que tivessem guerra com os Tapuias, mas não sabem dar a razão delas” (apud Leite, 1938-50, 8:408).
              Se é nos primeiros relatos e crônicas coloniais que se encontra esta clara distinção entre grupos da “língua geral” e “tapuias”, esta visão foi aprimorada pelos historiadores e escritores do século XIX, que tomavam o Tupi do século XVI como símbolo maior da nacionalidade. Não é difícil identificar os contrapontos deste Tupi idealizado: além do onipresente escravo africano e mulato, encontramos também uma legião de Botocudos, Coroados e Bugres, abordada pela expansão pós-colonial e pelos cientistas estrangeiros. Nas palavras de Manuela Carneiro da Cunha, “o que os Tupi- Guarani são para a nacionalidade, os Botocudos são para a ciência” (Carneiro da Cunha, 1992, 136). Em São Paulo, era praticamente unânime o consenso em torno da insignificância do Tapuia, “que contingente quase nulo forneceram à nossa constituição de povo” (Freitas, 1936, 29-30).</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_lingua %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

            
          <h2 class="mt-4">Cultura</h2><hr>
            <p>A Vida Amorosa dos Tapuias
              A puberdade era o período em que a donzela estaria pronta para casar-se. A virgindade era bastante valorizada. O namoro, acontecia entre danças, onde eram escolhidos os pretendentes. No noivado, o pretendente oferecia presente ao sogro. Quando a donzela não arrumava pretendente, era levada ao rei e este a possuía.
              Os jovens tinham que demonstrar valor pessoal, exibindo força física. O rei aprovava a cerimônia e quando esta se realizava, furavam-se as faces dos noivos e colocavam pauzinhos. A festa durava cinco dias. Os matrimônios eram severos, apesar da poligamia, mas as cerimônias eram reservadas às primeiras esposas. Possuir várias mulheres era sinal de prestígio. O adultério era raro, e o marido expulsava a ré, depois de açoitá-la, no caso do flagrante e poderia matá-los. Sobre os tapuias cariris, eram praticantes do adultério, e era recíproco.
              Os Tapuias possuíam semblante ameaçador, corriam igual as feras, por isso eram muito temidos. Eram inconstantes, fáceis de ser levados a fazer o mal. Eram fortes, carregavam nos ombros grandes pesos. Ao irem para guerra, marchavam em silêncio, mas no embate faziam bastante alarido, jogando setas envenenadas das quais os feridos jamais escapavam.
              Foram úteis, como aliados dos holandeses, conduzindo aos lugares mais difíceis. Os tapuias que se destacavam nas lutas eram considerados heróis.
              O poder real não era hereditário, este era substituído quando morto. O rei distinguia-se dos outros pelos cabelos e pelas unhas. Os tapuias eram muito obedientes ao rei.
              Os tapuias se enfeitavam da cabeça aos pés para as lutas. Suas armas eram as flechas, as pranchetas, arcos e dardos, que usavam com grande habilidade. Usavam também as clavas e machados de mão; as armas eram enfeitadas com bonitas plumas. Eles não se utilizavam das armas de fogo, passaram a usar em razão da Guerra dos Bárbaros.



              </p>

              h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_cultura %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          <h2 class="mt-4">Religião</h2><hr>
            <p>Rituais de Vida e Morte
              Os Tapuias, por vezes, atingiam aproximadamente dois séculos de vida. Quando isso acontecia eram homenageados por sua tribo. Isto quando do sexo masculino - se do sexo feminino, ao darem à luz a mais de um filho, tornavam-se cativas. Estando doentes são visitados pelos amigos e se o caso de morte, matavam-nos para que não houvesse sofrimento. A causa mais freqüente de óbito entre os Tapuias era o veneno de cobra. Eram endocanibalistas, devoravam até mesmo os de sua tribo, quando da sua morte.
              Da Gravidez, do Parto e das Crianças
              A índia, quando grávida, não tinha relações com o marido, também enquanto amamentava. A tapuia dava à luz nas matas, cozia o umbigo e a placenta e comia. Quando voltava ao acampamento, o filho era cuidado por outra mulher. Os maridos tinham o mesmo resguardo da parturiente. Esta se alimentavam de farinha de mandioca, milho, feijão, até o nascimento dos dentes dos lactentes. Os nascidos mortos eram devorados pelos tarairiús. As crianças começavam a andar com nove semanas e aprendiam a nadar nesta mesma época. Entre sete e oito anos eram furados o lábio inferior e as orelhas e colocados ossos e paus, depois eram batizados, ficando aptos para as lutas.
              Rituais religiosas e crenças
              Os Tapuias tinham como Deus principal a Constelação da Ursa Maior, para eles um inimigo dos Tapuias o intrigou com o seu Deus, este era a raposa, a causadora de sua expulsão do paraíso. Os tapuias acreditavam na imortalidade da alma desde que a pessoa não tivesse morrido de morte matada ou de picada de serpente.
              Os Tapuias não faziam nada sem antes consultar os feiticeiros e adivinhos. De um modo geral, a religião dos tapuias lembra um pouco as religiões da África, no tocante a influência forte dos feiticeiros na vida indígena. Os europeus viam nos rituais dos tapuias um comércio direto com os poderes do inferno, além disto os tapuias possuíam deuses também que regiam a agricultura, a pesca e a caça, os invocaram e sacrificaram a eles para obter boas colheitas, pesca e caça fartas. Os tapuias tinham uma lenda que falava no Deus da criação, que tinham dois filhos, o mais novo foi embora para a terra, o Deus pai enviou seu filho mais velho para buscar seu filho mais novo, mas este e seus filhos acabaram maltratando e matando o irmão mais velho, que depois de morto ficou na terra, entre seus parentes, por vários dias e somente depois ascendem ao céu, retornando para o seu pai.
              Os europeus acreditavam que o Deus em quem os tapuias falavam era o Deus de Israel, o filho mais velho Jesus Cristo e o filho mais novo seria o próprio Lúcifer ou Caim.</p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_religiao %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

          
          <h2 class="mt-4">Localização e População</h2><hr>
            <p>A Vida Amorosa dos Tapuias
              A puberdade era o período em que a donzela estaria pronta para casar-se. A virgindade era bastante valorizada. O namoro, acontecia entre danças, onde eram escolhidos os pretendentes. No noivado, o pretendente oferecia presente ao sogro. Quando a donzela não arrumava pretendente, era levada ao rei e este a possuía.
              Os jovens tinham que demonstrar valor pessoal, exibindo força física. O rei aprovava a cerimônia e quando esta se realizava, furavam-se as faces dos noivos e colocavam pauzinhos. A festa durava cinco dias. Os matrimônios eram severos, apesar da poligamia, mas as cerimônias eram reservadas às primeiras esposas. Possuir várias mulheres era sinal de prestígio. O adultério era raro, e o marido expulsava a ré, depois de açoitá-la, no caso do flagrante e poderia matá-los. Sobre os tapuias cariris, eram praticantes do adultério, e era recíproco.
              Ferocidades, Armas e Lutas dos Tapuias
              Os Tapuias possuíam semblante ameaçador, corriam igual as feras, por isso eram muito temidos. Eram inconstantes, fáceis de ser levados a fazer o mal. Eram fortes, carregavam nos ombros grandes pesos. Ao irem para guerra, marchavam em silêncio, mas no embate faziam bastante alarido, jogando setas envenenadas das quais os feridos jamais escapavam.
              Foram úteis, como aliados dos holandeses, conduzindo aos lugares mais difíceis. Os tapuias que se destacavam nas lutas eram considerados heróis.
              O poder real não era hereditário, este era substituído quando morto. O rei distinguia-se dos outros pelos cabelos e pelas unhas. Os tapuias eram muito obedientes ao rei.
              Os tapuias se enfeitavam da cabeça aos pés para as lutas. Suas armas eram as flechas, as pranchetas, arcos e dardos, que usavam com grande habilidade. Usavam também as clavas e machados de mão; as armas eram enfeitadas com bonitas plumas. Eles não se utilizavam das armas de fogo, passaram a usar em razão da Guerra dos Bárbaros.
              Encontram-se num processo adiantado de aculturação; incorporam elementos culturais da sociedade nacional, sistema de trabalho, organização econômica, casamento com pessoas de fora da comunidade (casamentos interétnicos); e conservam a noção de pertença às origens indígenas.
              
              </p>

              <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_locpop %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}
          
          <h2 class="mt-4">Dieta Alimentar</h2><hr>
            <p>Os tapuias levavam uma vida descuidosa. Não semeavam, não plantavam, nem se esforçavam por coisa alguma. Alimentavam-se com mel de abelhas e maribondos e com todas as imundícies da terra, como cobras e lagartos. Os tapuias armavam ciladas aos peixes e animais, utilizando seu admirável olfato e sua habilidade para comer. Alimentavam-se ainda de frutos agrestes, caça fresca, peixes, tudo sem temperos ou condimentos. Não semeavam outra coisa além da mandioca.
            Para assar a carne, eles cavavam um buraco na terra e colocavam a carne, depois enterravam pondo folhas de árvores por cima e faziam uma fogueira por cima de tudo.
            Para atraírem felicidade na caça e pesca, os tapuias cariris queimavam ossos de animais ou espinhas de peixes.
            Os Jovens caçadores presenteavam os velhos da tribo com caças e pescarias, sem sequer comer um único pedaço. Durante o período de caça e pesca, comiam uma sopa muito rala, feita com farinha de milho ou mandioca. Depois dessa temporada, estavam magros, por razão do intenso trabalho e da alimentação inadequada. 

            </p>
             <h4 class="mt-4">Tribos similares:</h4>
            {% for n in r_dieta %}
              <p><a href="{{ url_for(n) }}">{{n}}</a></p>
            {% endfor %}

         

        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="..static/js/jquery.min.js"></script>
    <script src="..static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>